@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 34 33% 96%;
    --foreground: 20 30% 12%;
    --card: 0 0% 100%;
    --card-foreground: 20 30% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 30% 12%;
    --primary: 348 56% 27%;
    --primary-foreground: 34 33% 96%;
    --secondary: 30 25% 92%;
    --secondary-foreground: 20 30% 12%;
    --muted: 30 20% 88%;
    --muted-foreground: 20 10% 45%;
    --accent: 43 73% 31%;
    --accent-foreground: 34 33% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 20% 80%;
    --input: 30 20% 80%;
    --ring: 348 56% 27%;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
